@model Prog6.Models.HotelkamerModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hotelkamer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Groote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Groote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hotelkamer_type.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hotelkamer_type.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
