@model Prog6.Models.HomeIndexModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tamagotchi Hotel</h1>
    <p class="lead">Made by Bart Renders & Michat Morel</p>
</div>

<div class="row">
    @if (ViewBag.NachtComplete != null)
    {
        <div class="alert alert-success">
            @ViewBag.NachtComplete
        </div>
    }
    
    @Html.ActionLink("Nacht starten", "Index", "Nacht")

    <div class="col-md-6">
        <h2>Alive Tamagotchi's</h2>
        <table class="table">
            <tr>
                <th>Naam</th>
                <th>Level</th>
                <th>Gezondheid</th>
                <th>Levend</th>
            </tr>
            <!-- Overview of tamagotchi's that are alive -->
            @foreach (var item in Model.AliveTamagotchis)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gezondheid)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Levend)
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="col-md-6">
        <!-- Overview of tamagotchi's that are dead -->
        <h2>Dead Tamagotchi's</h2>
        <table class="table">
            <tr>
                <th>Naam</th>
                <th>Level</th>
                <th>Gezondheid</th>
                <th>Levend</th>
            </tr>
            <!-- Overview of tamagotchi's that are alive -->
            @foreach (var item in Model.DeadTamagotchis)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gezondheid)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Levend)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <!-- Overview of tamagotchi's without a room -->
        <h2>Roomless Tamagotchi's</h2>
        <table class="table">
            <tr>
                <th>Naam</th>
                <th>Level</th>
                <th>Gezondheid</th>
                <th></th>
            </tr>
            <!-- Overview of tamagotchi's that are alive -->
            @foreach (var item in Model.RoomlessTamagotchis)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gezondheid)
                    </td>

                    <td>
                        @Html.ActionLink("Kamer boeken", "Index", "Home", new {@class = "btn btn-primary"})
                    </td>
                </tr>
            }
        </table>
    </div>
</div>