@model Prog6.Models.BoekingModel
@{
    ViewBag.Title = "Book";
}

<p>
    <h4>Hotelkamer:</h4>
    Kamersoort: @Html.DisplayFor(model => model.Hotelkamer.Type) <br />
    Groote: @Html.DisplayFor(model => model.Hotelkamer.Groote) <br />
    Prijs: @Html.DisplayFor(model => model.Hotelkamer.Prijs)
</p>

@using (Html.BeginForm("Confirm", "Boeking", FormMethod.Post))
{

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">
                Naam
            </th>
            <th scope="col">
                Centjes
            </th>
        </tr>
        </thead>
        @for (int idx = 0; idx < Model.Tamagotchis.Count; idx++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => Model.Tamagotchis[idx].Naam)

                    <input type="hidden" name="Tamagotchis[@idx].Id" value="@Model.Tamagotchis[idx].Id"/>
                    <input type="hidden" name="Tamagotchis[@idx].Centjes" value="@Model.Tamagotchis[idx].Centjes"/>
                    <input type="hidden" name="Tamagotchis[@idx].Naam" value="@Model.Tamagotchis[idx].Naam"/>
                    <input type="hidden" name="Tamagotchis[@idx].IsSelected" value="@Model.Tamagotchis[idx].IsSelected"/>
                    <input type="hidden" name="Tamagotchis[@idx].Level" value="@Model.Tamagotchis[idx].Level"/>
                    <input type="hidden" name="Tamagotchis[@idx].Leeftijd" value="@Model.Tamagotchis[idx].Leeftijd"/>
                    <input type="hidden" name="Tamagotchis[@idx].Levend" value="@Model.Tamagotchis[idx].Levend"/>
                    <input type="hidden" name="Tamagotchis[@idx].Gezondheid" value="@Model.Tamagotchis[idx].Gezondheid"/>
                    <input type="hidden" name="Tamagotchis[@idx].Verveling" value="@Model.Tamagotchis[idx].Verveling"/>
                </td>
                <td>
                    @Html.DisplayFor(x => Model.Tamagotchis[idx].Centjes)
                </td>
            </tr>
        }

        @Html.HiddenFor(x => Model.Hotelkamer.Id)
        @Html.HiddenFor(x => Model.Hotelkamer.Type)
        @Html.HiddenFor(x => Model.Hotelkamer.Groote)
        @Html.HiddenFor(x => Model.Hotelkamer.Prijs)


    </table>
    <button type="submit" id="btnSave" class="btn btn-primary">Bevestigen</button>
}

