@model Prog6.Models.BoekingModel

@{
    ViewBag.Title = "Tamagotchis";
}

<h2>Tamagotchis</h2>

<p>
    <h4>Hotelkamer:</h4>
    Kamersoort: @Html.DisplayFor(model => model.Hotelkamer.Type) <br/>
    Groote: @Html.DisplayFor(model => model.Hotelkamer.Groote) <br />
    Prijs: @Html.DisplayFor(model => model.Hotelkamer.Prijs)
</p>

@using (Html.BeginForm("Book", "Boeking", FormMethod.Post))
{
   
    <table>
        @for (int idx = 0; idx < Model.AvTamagotchis.Count; idx++) {
            <tr>
                <td>
                    @Html.HiddenFor(x=> Model.AvTamagotchis[idx].Id)
                    @Html.CheckBoxFor(x=>Model.AvTamagotchis[idx].IsSelected)
                    @Html.DisplayFor(x => Model.AvTamagotchis[idx].Naam)
                    @Html.DisplayFor(x => Model.AvTamagotchis[idx].Centjes)
                    @Html.HiddenFor(x => Model.AvTamagotchis[idx].Centjes)
                    @Html.HiddenFor(x => Model.AvTamagotchis[idx].Naam)
                    @Html.HiddenFor(x => Model.AvTamagotchis[idx].Level)
                    @Html.HiddenFor(x => Model.AvTamagotchis[idx].Leeftijd)
                    @Html.HiddenFor(x => Model.AvTamagotchis[idx].Levend)
                    @Html.HiddenFor(x => Model.AvTamagotchis[idx].Gezondheid)
                    @Html.HiddenFor(x => Model.AvTamagotchis[idx].Verveling)
                </td>
            </tr>
        }
        
        @Html.HiddenFor(x => Model.Hotelkamer.Id)
        @Html.HiddenFor(x => Model.Hotelkamer.Type)
        @Html.HiddenFor(x => Model.Hotelkamer.Groote)
        @Html.HiddenFor(x => Model.Hotelkamer.Prijs)


    </table>
    <button type="submit" id="btnSave">Save</button>
}