@model IEnumerable<Prog6.Models.TamagotchiModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Leeftijd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Centjes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gezondheid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Verveling)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Levend)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Leeftijd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Centjes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gezondheid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Verveling)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Levend)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
